## # 파이썬 함수

In [1]:
# 정수형 변수의 데이터 타입 확인

age = 20
typeOfAge = type(age)
print(typeOfAge)

<class 'int'>

In [2]:
# 문자열 변수의 데이터 타입 확인

message = "Hello Python"
typeOfMessage = type(message)
print(typeOfMessage)

<class 'str'>

In [3]:
# 실수형 변수의 데이터 타입 확인
pi = 3.14
typeOfPi = type(pi)
print(typeOfPi)

<class 'float'>

In [4]:
# 논리형 변수의 데이터 타입 확인
ok = True
typeOfOk = type(ok)
print(typeOfOk)

<class 'bool'>

## # 02 문자열 입력 받기
### input 함수

In [ ]:
# 문자열 입력받기
msg1 = input("안녕하세요.파이썬")
print(msg1)

# 입력 받은 내용의 데이터 타입 확인 --> 문자열(str)
t = type(msg1)
print(t)

<class 'str'>

In [5]:
# 문자열 데이터 정수 변환

s1 = "123"
s2 = '45'
print(s1 + s2)

n1 = int(s1)
n2 = int(s2)
print(n1 +n2)

12345
168

In [13]:
# 문자열 데이터 실수 변환

s1 = "123.45"
s2 = "67.89"

n1 = float(s1)
n2 = float(s2)
print(n1 + n2)

191.34

### 문자열의 정수, 실수 변환

In [1]:
a = input('10000')
b = input('5000')
print(a + b)

100005000

In [9]:
num1 = 100
num2 = float(num1)
print(num2)

100.0

## # 2. 함수 정의하기
### 파이썬 함수 정의와 호출

In [8]:
# 다중 파라미터
def hello(x,y):
    z = x + y
    print(z)
# 함수 호출
hello(2, 1)

3

In [18]:
# 기본값을 갖는 파라미터
def sum1(x, y, z=0):
    answer = x + y + z
    print(answer)
# 모든 파라미터값을 전달하며 함수 호출
sum1(1,2, -1)

2

### 파라미터 이름 지정하기

In [24]:
# 파라미터의 이름을 지정한 함수 호출 -> 파라미터 전달 순서를 무시할 수 있다.
def sum2(a, b, c=0, d=0):
    answer = a + b + c + d
    print(answer)

sum2(d=3, c=1, a=2, b=1)

7

In [26]:
# 값을 리턴하는 함수
def plus(x,y):
    z = x + y
    return z
a = plus(10, 20)
print(a)

30

In [ ]:
a =100
if a >= 100:
    print("a는~~")
    print("b는~")

IndentationError: unexpected indent (3821394859.py, line 4)

In [32]:
print("시험시작")

score = int(input("점수입력"))

if score >= 60:
    print("합격")
    
print("시험끝")

시험시작
시험끝

In [ ]:
`money =100000

if money:
    print('지하철로')

print("택시를 왜타")

지하철로
택시를 왜타

In [39]:
# 비교식을 사용한 IF 문

MYAGE = int(input('나이는?'))

if MYAGE == 19:
    print("19살")

if MYAGE != 20:
    print("20살 아님")

if MYAGE > 19:
    print("성인")

if MYAGE <= 19:
    print("촉법")

20살 아님
성인

In [43]:
# 논리식을 이용한 if문

point = int(input("점수 입력"))

if point > 70 and point <= 80:
    print("c")

if point <= 70 or point <= 80:
    print("c아님")

ValueError: invalid literal for int() with base 10: ''

In [44]:
# else문

print("시험시작")

score = int(input("점수를 입력하세요"))

if score >= 60:
    print("합격")
else:
    print("불합격")

print("시험종료")

시험시작
불합격
시험종료

In [50]:
# boolean형 값에 대한 else문 처리

answer = input("한국인? (Y/N)")

if answer == 'Y':
    iskorean = True
else:
    iskorean = False

if iskorean:
    print("한국사람")
else:
    print("외국사람")

#논리값의 부정형을 조건으로 사용할 경우...
if not iskorean:
    print("외국사람")
else:
    print("한국사람")

외국사람
외국사람

### elif문

In [51]:
# elif를 활용한 다양한 경우의 수 나열

print('시작')

point = int(input('점수'))

if point > 90:
    print("A")
elif point > 80:
    print('B')
elif point > 70:
    print('C')
elif point > 60:
    print('D')

print('셤 끝')

시작
B
셤 끝