## # 딕셔너리
### 기본형식

In [1]:
# 정의하기
mydic = {"name": "철수", "phone": "010-1234-5678", "birth": "0115"}
print(mydic)

{'name': '철수', 'phone': '010-1234-5678', 'birth': '0115'}

In [3]:
mydic = {"name": "철수", "phone": "010-1234-5678", "birth": "0115"}
print(mydic["name"])

철수

In [4]:
mydic = {"name": "철수", "phone": "010-1234-5678", "birth": "0115"}
phone = mydic["phone"]
print(phone)

010-1234-5678

In [5]:
mydic = {"name": "철수", "phone": "010-1234-5678", "birth": "0115"}
mydic["name"] = "호영"
print(mydic)

{'name': '호영', 'phone': '010-1234-5678', 'birth': '0115'}

### 딕셔너리 확장

In [7]:
# 존재하지 않는 키에 값을 할당하면 확장
foo = {"a": 100, "b": 200}
foo["c"] = 300
print(foo)

{'a': 100, 'b': 200, 'c': 300}

In [1]:
# key 중복 제한
# 키가 중복될 경우 하나를 제외한 나머지는 무시
# 일반적으로 나중에 정의된 항목이 이전에 정의된 항목을 덮어 씀
data = {"msg": "hello", "msg": "world", "msg": "python"}
print(data['msg'])
data

python

{'msg': 'python'}

### 딕셔너리를 원소로 갖는 리스트(1)

In [6]:
# 리스트의 원소가 딕셔너리 형태인 경우

grade = [
    {"name": "철수", "kor": 95, "eng": 88},
    {"name": "영희", "kor": 92, "eng": 90},
    {"name": "철민", "kor": 88, "eng": 76}
]

print("0번째 원소: %s" % grade[0])
print("1번째 원소: %s" % grade[1])
print("2번째 원소: %s" % grade[2])

0번째 원소: {'name': '철수', 'kor': 95, 'eng': 88}
1번째 원소: {'name': '영희', 'kor': 92, 'eng': 90}
2번째 원소: {'name': '철민', 'kor': 88, 'eng': 76}

In [7]:
tpl = "{0}의 국어점수: {1}, 영어점수: {2}"
print( tpl.format(grade[0]["name"], grade[0]["kor"], grade[0]["eng"]))
print( tpl.format(grade[1]["name"], grade[1]["kor"], grade[1]["eng"]))
print( tpl.format(grade[2]["name"], grade[2]["kor"], grade[2]["eng"]))

철수의 국어점수: 95, 영어점수: 88
영희의 국어점수: 92, 영어점수: 90
철민의 국어점수: 88, 영어점수: 76

### 딕셔너리를 원소로 갖는 딕셔너리

In [9]:
# 정보를 트리구조 형태로 계층화 할 수 있다.

phone = {
    "apple": {
        "name": "iphone",
        "price": "200$"
    },
    "samsung": {
        "name": "galluxy",
        "price": "200만원"
    }
}

tpl = "%s의 가격은 %s 입니다"
print(tpl % (phone['apple']['name'], phone['apple']['price']))
print(tpl % (phone['samsung']['name'], phone['samsung']['price']))

iphone의 가격은 200$ 입니다
galluxy의 가격은 200만원 입니다

In [11]:
# 딕셔너리를 원소로 갖는 리스트

review = {
    "items": [
        {"email": "user1@python.com", "comment": "good~!@"},
        {"email": "user2@python.com", "comment": "fuck~!@"},
        {"email": "user3@python.com", "comment": "soso~!@"},
    ]
}

# itmes가 배열이므로 반복문 사용 가능

tpl = "email: {0}, comment: {1}"
for item in review["items"]:
    print(tpl.format(item["email"], item["comment"]))

email: user1@python.com, comment: good~!@
email: user2@python.com, comment: fuck~!@
email: user3@python.com, comment: soso~!@

### 딕셔너리의 활용

In [12]:
# 딕셔너리의 원소 수 카운트
# len ()

point = {"korean": 98, "math": 77, "english": 82}
len(point)

3

In [13]:
# 딕셔너리의 특정 원소 삭제
# del() 

point = {"korean": 98, "math": 77, "english": 82}
print(point)

# 특정 원소 삭제 -> 존재하지 않는 키를 삭제할 경우 에러 발생함
del(point['english'])
print(point)

{'korean': 98, 'math': 77, 'english': 82}
{'korean': 98, 'math': 77}

In [14]:
# 딕셔너리의 값 조회
# get() 메서드

# 샘플 데이터
dic = {"name": "철수", "phone": "010-1234-5678", "birth": "0115"}

# 특정 key에 대응하는 값 얻기 -> dic["name"]과 동일
print(dic.get("name"))

철수

In [16]:
dic = {"name": "철수", "phone": "010-1234-5678", "birth": "0115"}
print(dic.get("gender"))

None

### key 분리하기

In [20]:
성적표 = {"국어": 92, "수학": 88, "영어": 72}

# key만 모아서 dict_keys라는 객체로 반환
keys= 성적표.keys()
print(keys)

dict_keys(['국어', '수학', '영어'])

In [22]:
# dict_keys를 list로 변환
key_list = list(keys)
print(key_list)

['국어', '수학', '영어']

In [23]:
 # 변환 과정(keys() --> list())을 일괄 처리
keylist = list(성적표.keys())
keylist

['국어', '수학', '영어']

### value 분리하기

In [25]:
성적표 = {"국어": 92, "수학": 88, "영어": 72}

# value만 모아서 dict_values 객체로 반환
values = 성적표.values()
print(values)

dict_values([92, 88, 72])

In [27]:
value_list = list(values)
print(value_list)

[92, 88, 72]

In [29]:
valuelist = list(성적표.values())
valuelist

[92, 88, 72]

 ### 딕셔너리의 확장과 복사

In [31]:
성적표1 = {"국어": 92, "수학": 88, "영어": 72}
성적표2 = {"물리": 78, "화학": 82}

# 성적표1에 성적표2를 결합
성적표1.update(성적표2)
print(성적표1)

{'국어': 92, '수학': 88, '영어': 72, '물리': 78, '화학': 82}

In [32]:
# 딕셔너리 객체의 복사
# 딕셔너리끼리의 대입도 리스트의 경우와 마찬가지로 얕은 복사가 수행
# 깊은 복사 위해 copy() 매서드가 필요
성적표최종 = 성적표1.copy()
print(성적표최종)

{'국어': 92, '수학': 88, '영어': 72, '물리': 78, '화학': 82}

In [33]:
with open("hellopython.txt", "w", encoding='utf=8') as f:
    for i in range(0,10):
        f.write("%d >> " %i)
        f.write("life is too short,")
        f.write("you need python\n")

    print("파일 저장이 완료되었습니다.")

파일 저장이 완료되었습니다.

In [36]:
f = open("helloworld.txt", "w", encoding='utf-8')
f.write("hellow python!!!\n")
f.write("안녕하세요. 파이썬!!! \n")
f.close()

In [37]:
with open ("helloworld.txt", "r", encoding='utf-8') as f:
    lines = f.readlines()
    print(lines)
    print("-" * 30)

    size = len(lines)
    print("읽어들인 데이터는 총 %d줄 입니다." % size)
    print("-" * 30)

    for item in lines:
        print(item.strip())

['hellow python!!!\n', '안녕하세요. 파이썬!!! \n']
------------------------------
읽어들인 데이터는 총 2줄 입니다.
------------------------------
hellow python!!!
안녕하세요. 파이썬!!!

### csv

In [40]:
# 한 학급의 성적표 데이터 예시
grade = [
    {"name": "철수", "kor": 95, "eng": 88, "math": 72},
    {"name": "영희", "kor": 92, "eng": 90, "math": 95},
    {"name": "철민", "kor": 88, "eng": 76, "math": 64}
]

tp1 = "{0}, {1}, {2}, {3}\n"

with open("grade.csv", "w", encoding='euc-kr') as f:
    f.write("이름,국어,영어,수학\n")
    
    for item in grade:
        tmp = tpl.format(item["name"], item["kor"], item["eng"], item["math"])
        f.write( tmp )

In [44]:
try:
    with open("covid19.csv", "r", encoding='euc-kr') as f:
        #csv 파일의 각 행을 원소로 갖는 리스트 생성
        csv_list = f.readlines()
        #상위 5줄 확인
        # for i in range(5):
            # print(csv_list[i].strip())
        # 전체 데디터 길이(제목행을 제외하기 위해 -1 처리)
        size = len(csv_list) - 1

        # 합계를 위한 변수 초기화
        seoul_confirm_sum = 0
        seoul_death_sum = 0
        nation_confirm_sum = 0
        nation_death_sum = 0

        # csv 파일의 각 행을 순회하며 데이터 추출
        for i, line in enumerate(csv_list):
            # 첫 행은 제목이므로 건너뛴다.
            if i == 0:
                continue
            
            # 현재 행의 내용을 콤마를 기준으로 잘라서 리스트로 변환
            k = line.strip().split(",")

            # 서울의 확진자 수와 사망자 수 추출
            if k[1].isnumeric():  seoul_confirm_sum += int(k[1])
            if k[2].isnumeric():  seoul_death_sum += int(k[2])

            # 전국의 확진자 수와 사망자 수 추출
            if k[3].isnumeric():  nation_confirm_sum += int(k[3])
            if k[4].isnumeric():  seoul_confirm_sum += int(k[4])

        # 일 평균 출력
        print("서울 일 평균 확진자 수: %.2f명" % (seoul_confirm_sum / size))
        print("서울 일 평균 사망자 수: %.2f명" % (seoul_death_sum / size))
        print("전국 일 평균 확진자 수: %.2f명" % (nation_confirm_sum / size))
        print("전국 일 평균 사망자 수: %.2f명" % (nation_death_sum / size))
except Exception as e:
    print("CSV 파일 처리에 실패했습니다.", e)
finally:
    print("-" * 30)
    print("작업이 완료되었습니다.")

서울 일 평균 확진자 수: 5139.13명
서울 일 평균 사망자 수: 3.40명
전국 일 평균 확진자 수: 26141.33명
전국 일 평균 사망자 수: 0.00명
------------------------------
작업이 완료되었습니다.