In [3]:
seasons = ["봄", "여름", "가을", "겨울"]

size = len(seasons)
for i in range(0, size):
    print(i, "번째 원소", seasons[i])

0 번째 원소 봄
1 번째 원소 여름
2 번째 원소 가을
3 번째 원소 겨울

In [4]:
msg = ["python", "is", "good"]

for i in msg:
    print(i)

python
is
good

In [7]:
# 성적에 대한 총점과 평균 구하기
score = [100, 54, 97, 34, 56]

#총점을 저장할 변수
total = 0

for v in score:
    # 총점은 각 원소를 누적해서 더한다.
    total += v

#평균은 총 합에서 원소의 수를 나눈다.
# "//"는 나눗셈에서 정수부분 몫만 구한다(의미 없음 그냥 가독성 좋게 보일려고)
avg = total //len(score)

print("총합:", total, ", 평균:", avg)

총합: 341 , 평균: 68

In [9]:
# i에는 리스트의 인덱스가 저장된다.
# v에는 리스트의 값(원소)가 저장된다.
# i, v는 단순 변수이고 개발자 편의에 따라 이름지을 수 있음.

city=["제천","광주", "대구", "부산", "부평", '부천']

for a, b in enumerate(city):
    print(a, "도시", b)

0 도시 제천
1 도시 광주
2 도시 대구
3 도시 부산
4 도시 부평
5 도시 부천

In [ ]:
 # 쌍따옴표나 홑따옴표를 감싸야 한다.

msg1 = "Life is too short"
msg2 = "you need python"
print(msg1)
print(msg2)

Life is too short
you need python

In [16]:
# 따옴표의 쌍이 다르게 지정된 경우 --> 에러
msg3 = "python study"
print(msg3)

python study

In [17]:
#문자열의 덧셈

pay = "20000"
bonus = "100"
print(pay + bonus)

20000100

In [19]:
msg1 = "HAHA"
msg2 = "Python"
print(msg1+","+msg2)

HAHA,Python

In [20]:
# 문자열 곱셈

name = "python"
print(name * 10)

pythonpythonpythonpythonpythonpythonpythonpythonpythonpython

In [23]:
# 이스케이프 문자

message = "hello\"python\" world"
print(message)

hello"python" world

In [24]:
# 쌍따옴표 안에 쌍다옴표 넣기 -> 이스케이프 문자 사용
case1 = "life is \"too \" short"
print(case1)

life is "too " short

In [29]:
#홑따옴표 안에 홑따옴표 넣기 ->이스케이프 문자 사용
i = 'life is\'too\' short'
print(i)

life is'too' short

In [31]:
# 줄바꿈

print('life is \'too\'\nshort')

life is 'too'
short

In [32]:
# 탭키
print("life is too short\t you need python")

life is too short	 you need python

In [35]:
# 순수한 역슬래시 출력
print("life is too short\\ you need python")

life is too short\ you need python

### 문자열 안에 따옴표 포함시키는 방법

In [37]:
# 문자열을 쌍따옴표로 표현하는 경우 -> 홑따옴표 포함 가능
str1 = "you 'need' python"
print(str1)

you 'need' python

In [38]:
# 문자열을 홑따옴표로 표현하는 경우 -> 쌍따옴표 포함 가능
str2 = 'You "need"Python'
print(str2)

You "need"Python

### 문자열의 인덱스 번호

In [43]:
# 인덱스 번호 활용하여 특정 글자를 추출하는 처리

mystr = "Time goes on, Keep harder"
mystr

#6번째 문자 추출 ->0부터 카운트
print(mystr[5])

#뒤에서 4번째 글자 추출
print(mystr[-4])

g
r

### 문자열 슬라이싱

In [47]:
a = "Time goes on, Keep harder"

print(a[1:4])

ime

In [50]:
a = "Time goes on, Keep harder"
print(a[-6:-1])

harde

In [51]:
a = "Time goes on, Keep harder"
print(a[:4])

Time

In [52]:
a = "Time goes on, Keep harder"
print(a[1:])

ime goes on, Keep harder

In [53]:
a = "Time goes on, Keep harder"
print(a[:
        ])

Time goes on, Keep harder

## # 문자열 포매팅
### 문자열 포매팅과 형식문자

In [ ]:
# 기본 사용 방법

str = "나는 %d세 입니다."
print( str % 20)

나는 20세 입니다.

In [57]:
print("나는 %d세 입니다." % 20)

나는 20세 입니다.

In [58]:
print( "나는 %d학년 %d반 입니다." % (4,2))

나는 4학년 2반 입니다.

In [60]:
### 형식문자의 기본 사용
str1 = "나는 %d원을 갖고 있다." % 100000
print(str1)

나는 100000원을 갖고 있다.

In [61]:
# 실수값 표현하기
money = 1000.000000
print("[%f]원 입니다." % money)

[1000.000000]원 입니다.

In [64]:
lang = "python"
str2 = "hello %s" % lang
print(str2)

hello python

### 두 개 이상의 형식문자 사용

In [66]:
# 형식문자를 포함한 문장만 별도의 변수로 지정

str3 = "%s 날짜는 %d년 %d월 %d일"
msg1 = str3 % ("정모", 2023, 1, 1)
print(msg1)

정모 날짜는 2023년 1월 1일

### 정수 자릿수 표현

In [67]:
# 간단 예시

print("[%10d]원을 송금" % 123213213)

[ 123213213]원을 송금

In [68]:
print("[%010d]원을 송금" % 123213213)

[0123213213]원을 송금

### 문자열 자릿수 표현

In [71]:
# 문자열 자릿수 지정(빈자리는 공백만 가능)
print("[%10s]원을 송금" % '아이티윌')

[      아이티윌]원을 송금

### 실수 자릿수 표현

In [75]:
moneyaccount = 10000.233455
print("[%0.3f]원 있습니다" % moneyaccount)

[10000.233]원 있습니다

In [ ]:
moneyaccount = 10000.233455
print("[%10.3f]원 있습니다" % moneyaccount)

[ 10000.233]원 있습니다

In [78]:
moneyaccount = 10000.233455
print("[%010.3f]원 있습니다" % moneyaccount)

[010000.233]원 있습니다

### 인덱스 번호를 사용한 문자열 포매팅

In [80]:
msg1 = "나는 {0}개의 사과를 먹었다"
print(msg1.format(55))

나는 55개의 사과를 먹었다

In [82]:
msg2 = "{0}일은 {1}년 {2}월 {3}일 이다"
print(msg2.format("종강", 2026, 3, 30))

종강일은 2026년 3월 30일 이다

In [84]:
a = '이 담배는 {q}{w}입니다'
b = a.format(q =5000, w ="원")
print(b)

이 담배는 5000원입니다

## # 문자열 관련 함수

In [85]:
# 문자열 길이 조회
# len()

In [86]:
# 문자열 변환
# str()

In [87]:
# 문자열 안에 포함된 특정 단어나 글자 개수 세기
# count()

In [88]:
# 특정 글자나 단어가 처음 나타나는 위치 조회
#find()

In [89]:
# 특정글자나 단어가 마지막으로 나타나는 위치 조회
# rfind()

In [90]:
# 대소문자 여부 검사
# 문자열객체.isupper(), 문자열객체.islower()

In [91]:
# 대소문자 변환
# upper(), lower()

In [92]:
# 대소문자 변환 
# swapcae(), capitalize(), title()

In [93]:
# 공백 지우기
# 문자열객체.strip(), 문자열객체.Istrip(), 문자열객체.rstrip()

In [94]:
# 문자열 바꾸기
# 문자열객체.replace("원본값", "변경할 값")

In [95]:
# 문자열 가르기
# 문자열 객체.split(기본값)

In [ ]:
# 숫자로만 구성된 문자열인지 검사
# 문자열객체.isnumeric()