In [2]:
# 내장함수 str()

num1 = 123
num1_s = str(num1)
print(type(num1_s))
print(num1_s)

<class 'str'>
123

In [3]:
# 실수를 문자열로 변환 -> 데이터 타입과 결과값 확인
num2 = 123.45
num2_s = str(num2)
print(type(num2_s))
print(num2_s)

<class 'str'>
123.45

In [6]:
# 불리언을 문자열로 변환 -> 데이터 타입과 결과값 확인

bool1 = True
bool1_s = str(bool1)
print(type(bool1_s))
print(bool1_s)

<class 'str'>
True

In [1]:
print("깃 허브 수정 연습")

깃 허브 수정 연습

In [1]:
for i in range(0,10):
    star = ""

    for j in range(0, 10-i):
        star = "*"

    print(star)

*
*
*
*
*
*
*
*
*
*

In [1]:
# 클래스 연습코드

class Zombie:
    speed = None
    hp = None
    attack = None
    defense = None

In [2]:
zb1 = Zombie()

zb1.speed = 70
zb1.hp = 100
zb1.attack = 25
zb1.defense = 5

tpl = "speed: {0}, hp: {1}, attack: {2}, defense {3}"
print(tpl.format(zb1.speed, zb1.hp, zb1.attack, zb1.defense))

speed: 70, hp: 100, attack: 25, defense 5

In [3]:
zb1.speed += 0.5 
zb1.hp += 10
zb1.attack += 4
zb1.defense += 2

zb1.hp -= 5

tpl = "speed: {0}, hp: {1}, attack: {2}, defense {3}"
print(tpl.format(zb1.speed, zb1.hp, zb1.attack, zb1.defense))

speed: 70.5, hp: 105, attack: 29, defense 7

In [4]:
zb2 = Zombie()

zb2.speed = 10
zb2.hp = 100
zb2.attack = 20
zb2.defense = 15
tpl = "speed: {0}, hp: {1}, attack: {2}, defense {3}"
print(tpl.format(zb1.speed, zb1.hp, zb1.attack, zb1.defense))
print(tpl.format(zb2.speed, zb2.hp, zb2.attack, zb2.defense))

speed: 70.5, hp: 105, attack: 29, defense 7
speed: 10, hp: 100, attack: 20, defense 15

# 조건문
## 저서를 통한 예시

In [ ]:
# p. 116 예제(if~) 

age = int(input('나이를 입력하세요:'))
pay ='3000원'

if age>= 65 or age <7:     # age가 65이상 or age가 7미만 =>참이면, 7행 문장 실행
    pay = '무료'

print('입장료: %s'% pay)   # 6행 조건식이 True = '무료', Fale = '3000원'

입장료: 무료

In [ ]:
# p. 118 예제(if~else~)
answer = '12345'                           # answer에 값을 '할당'하였으므로 ''를 써서 문자열 처리
password = input('비밀번호를 입력하세요')   # password에 input() 함수를 '할당'

if password == answer:                    # if: password가 answer '할당'값과 같다면 --> == 사용
    print('문이 열렸습니다')               # 문이 열립니다 출력
else:                                     # else: 값과 다르다면 다시 입력하세요 출력
    print('다시 입력하세요')

다시 입력하세요

In [12]:
# p.122 예제(if~elif~else)

score = int(input('점수를 입력하세요:'))   # score에 int() 값을 '할당'
                                           
if score >= 90:                           # if: score가 90보다 크거나 같으면
    grade ='A'                            # grade는 A로 할당
elif score >= 80:                         # if: score가 80보다 크거나 같으면
    grade ='B'                            # grade는 b로 할당
elif score >= 70:                         # if: score가 70보다 크거나 같으면 
    grade ='c'                            # grade는 c로 할당
else:                                     # 나머지는
    grade ='d'                            # d로 할당

print('성적: %d' %score)                  # 성적을 출력
print('등급: %s' %grade)                  # 등급을 출력

성적: 30
등급: d

In [ ]:
# p.123 예제(if~elif~else)

month = int(input('월을 입력하세요:'))        # month에 int()값을 '할당'

if month >= 3 and month <= 5:                # if: month가 3 이상 5 이하 이면 
    print('%d월은 봄.'%month)                # ~월은 봄, %d: 정수형 값을 받을 때 쓰인다.
if month >= 6 and month <= 8:                # 위 내용 반복
    print('%d월은 여름.'%month)
if month >= 9 and month <= 11:
    print('%d월은 가을.'%month)
if month >= 12 or month == 1 or month ==2:
    print('%d월은 겨울.'%month)

5월은 봄.

In [ ]:
# p.124 예제(if~)

a = input('좌석 종류 입력(1:일반실, 2:특실):')   # a에 ( ) 값을 '할당'
 
seat1 ='일반실'                                 # seat1에 일반실 값을 '할당'
seat2 ='특실'                                   # seat2에 특실 값을 '할당'
if a == '1':                                    # a가 1이랑 값이 똑같으면
    print('%s입니다.'% seat1)                   # seat1에 할당된 값 일반실을 출력하라
if a == '2':                                    # a가 2랑 값이 똑같으면
    print('%s입니다.'% seat2)                   # seat2에 할당된 값 특실을 출력하라

일반실입니다.

In [2]:
# p.125 예제(if~)

num = int(input('숫자를 입력하세요:'))         # num에 정수형 숫자를 입력하는 칸을 할당하라
result = '4의 배수도 5의 배수도 아니다.'       # result에  ' '내용의 값을 할당하라

if num % 4 == 0:                              # num값과 4를 나눴을 때, 나머지가 0이면
    result ='4의 배수이다'                     # result에 ' '값을 할당하고
if num % 5 == 0:                              # num값과 5를 나눴을 때 나머지가 0이면
    result ='5의 배수이다'                     # result에 ' '값을 할당하라
if num % 4 == 0 and num % 5 ==0:              # num값을 4와 5로 나눴을 때 둘 다 0이 나오면
    result = '4의 배수이면서 5의 배수이다.'     # result에 ' ' 할당하라

print('%d는 %s'%(num, result))

678는 4의 배수도 5의 배수도 아니다.

In [ ]:
# p.126 예제(if~else~)

char = input('영어 알파벳을 입력')                                               # char에 input( ) 값을 할당하라

char2 = char.upper()                                                            #


if char2 =='A' or char2 =='E' or char2 =='I' or char2 =='O' or char2 =='U':
    print('%s는 모음.' %char)
else:
    print('%s는 자음.' %char)

a는 모음.

In [22]:
# p.127 예제(if~else~)

height = int(input('키를 입력:'))
weight = int(input('몸무게를 입력'))

a = (height - 100) * 0.9

print('-'*30)
print('키: %dcm' %height)
print('몸무게: %dkg'%weight)

if weight > 65:
    print('보기 좋다')
else: 
    print('표준(또는 마른) 체형')

print('-' * 30)

------------------------------
키: 175cm
몸무게: 70kg
보기 좋다
------------------------------

In [25]:
# p.128 예제 (if~elif~else~)

buy = int(input('물건 구매가를 입력해'))

if buy >= 10000 and buy <50000:
    rate = 5
elif buy >= 50000 and buy <300000:
    rate = 7.5
elif buy >= 300000:
    rate = 10
else:
    rate = 0

discount = (buy * rate) / 100
pay = buy - discount

print('구매가: %.0f원' % buy)
print('할인율: %.1f원' % rate)
print('할인 금액: %.0f원' % discount)
print('지불 금액: %.0f원' % pay)

구매가: 60000원
할인율: 7.5원
할인 금액: 4500원
지불 금액: 55500원

In [29]:
# p.129 예제(if~elif~else)

num1 = int(input('첫 번째 정수를 입력하세요:'))
num2 = int(input('두 번째 정수를 입력하세요:'))
num3 = int(input('세 번째 정수를 입력하세요:'))

if (num1>num2) and (num1>=num3):
    largest = num1
elif (num2>num1) and (num2>=num3):
    largest = num2
else:
    largest = num3

print('입력된 세 수 %d, %d, %d 중에서 가장 큰 수는 %d 입니다' % (num1, num2, num3, largest))

입력된 세 수 34, 33, 27 중에서 가장 큰 수는 34 입니다

In [ ]:
# p.130 예제(if~elif~else)

print('서비스 만족도:')
print('1: 매우만족')
print('2: 만족')
print('3: 불만족')
a = input('서비스 만족도를 입력해주세요(예: 1 또는 2 또는 3):')

price = int(input('음식값을 입력해(예:8000):'))

if a =='1':
    tip = int(price*0.2)
    service = '매우 만족'
elif a =='2':
    tip = int(price*0.1)
    service = '만족'
else:
    tip =int(price*0.05)
    service = '불만족'

print()
print('서비스 만족도: %s, 팁:%d원'%(a, tip))

서비스 만족도:
1: 매우만족
2: 만족
3: 불만족

서비스 만족도: 2, 팁:900원

## for문

In [ ]:
# p.140 예제
answer = 0                                      # 합계 구하는 식이므로 0으로 초기화
for i in range(1,14):                           # i는 1~13까지 반복한다
    answer +=i                                  # 초기화한 answer값에 i를 누적
    print('i의 값: %d, 합계: %d' % (i,answer))   # ( ) 와 같이 출력한다

i의 값: 1, 합계: 1
i의 값: 2, 합계: 3
i의 값: 3, 합계: 6
i의 값: 4, 합계: 10
i의 값: 5, 합계: 15
i의 값: 6, 합계: 21
i의 값: 7, 합계: 28
i의 값: 8, 합계: 36
i의 값: 9, 합계: 45
i의 값: 10, 합계: 55
i의 값: 11, 합계: 66
i의 값: 12, 합계: 78
i의 값: 13, 합계: 91

In [12]:
# p.142 예제

for i in range(10):
    print(i, end='')
print()

for i in range(1, 11):
    print(i, end ='')
print()

for i in range(20, 0, -2):
    print(i, end ='')
print()

0123456789
12345678910
2018161412108642

In [16]:
# p.144 예제

sum = 0
for i in range(1, 101):
    if i % 3 == 0:
        print('%d'% i, end='')
        sum += i
print('\n','-'* 50)
print('1~100에서 3의 배수의 합계: %d' % sum)

369121518212427303336394245485154576063666972757881848790939699
 --------------------------------------------------
1~100에서 3의 배수의 합계: 1683

In [18]:
# p.146 예제

word = input('영어 암거나 임력')

for x in word:
    print(x)

h
e
l
l
o

In [19]:
# p.155 예제

a = 2

for b in range(1, 11):
    c = a * b
    print(a,'x', b,'=', c)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [21]:
# 156 예제

print('-' * 50)

for i in range(2, 10):
    for j in range(1, 10):
        c = a * b
        print(a, 'x', b, '=', c)
print('--------------')

--------------------------------------------------
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
2 x 10 = 20
--------------

In [25]:
# p.158

for i in range(1, 11):
    star = ''
    for j in range(1, i+1):
        star += '*'
    print(star)

*
**
***
****
*****
******
*******
********
*********
**********

In [27]:
# p.159 예제

for i in range(1, 11):
    star = ''
    for j in range(1, 11-i):
        star +='*'
    print(star)

*********
********
*******
******
*****
****
***
**
*

### break 문

In [28]:
# break문으로 반복 루프 빠져나가기

for i in range(1, 1001):
    print(i)

    if i == 10:
        break

1
2
3
4
5
6
7
8
9
10

### 딕셔너리

In [30]:
# for 문에서 딕셔너리 활용

phones = {'갤럭시 노트8': 2017, '갤럭시 S9': 2018, '갤럭시 노트 10': 2019, '갤럭시 S20': 2020}
print(phones)

for key in phones:
    print('%s ----> %s' % (key, phones[key]))

print(len(phones))

{'갤럭시 노트8': 2017, '갤럭시 S9': 2018, '갤럭시 노트 10': 2019, '갤럭시 S20': 2020}
갤럭시 노트8 ----> 2017
갤럭시 S9 ----> 2018
갤럭시 노트 10 ----> 2019
갤럭시 S20 ----> 2020
4

In [38]:
# 딕셔너리로 성적 합계/평균 구하기

scores = {'김예진': 90, '권재용': 92, '안승주': 100}

sum = 0
for key in scores:
    sum += scores[key]

    print('%s: %d' % (key, scores[key]))
avg = sum /len(scores)
print('합계: %d, 평균: %.f' % (sum,avg))

김예진: 90
권재용: 92
안승주: 100
합계: 282, 평균: 94

In [ ]:
# 딕셔너리로 정보 접근 제어하기

ad = {'id':'admin', 'password':'11111'}

in_id = input('아이디')
in_password = input('비번')

if(in_id == ad['id'] and in_password == ad['password']):
    print('접근 가능')
else:
    print('접근 불가')

접근 불가

In [40]:
# 딕셔너리로 영어 단어 퀴즈 만들기

words = {'사과': 'apple', '컴퓨터':'computer', '학교':'school', '책상':'desk', 
'의자':'chair'}

for key in words:
    in_word = input('%s에 해당되는 영어 단어를 입력해주세요:'% key)

    if in_word == words[key]:
        print('정답')
    else:
        print('오답')

오답
오답
정답
오답
정답

In [ ]:
# p.218 예제

a = {'kim99': '12000', 'lee66':'11000', 'han55':'3000', 'hong77':'5000', 'hwang33':'18000'}

for key in a:
    print('아이디: %s,마일리지: %s점' % (key, a[key]))

아이디: kim99,마일리지: 12000점
아이디: lee66,마일리지: 11000점
아이디: han55,마일리지: 3000점
아이디: hong77,마일리지: 5000점
아이디: hwang33,마일리지: 18000점

In [48]:
a['han55'] = 5000
print(a)

{'kim99': '12000', 'lee66': '11000', 'han55': 5000, 'hong77': '5000', 'hwang33': '18000'}

In [ ]:
a['jang88'] = 7000
print(a)
print('jang88님의 마일리지(7000점)이 추가 되었습니다')

{'kim99': '12000', 'lee66': '11000', 'han55': 5000, 'hong77': '5000', 'hwang33': '18000', 'jang88': 7000}
jang88님의 마일리지(7000점)이 추가 되었습니다