# ì§€ë„í•™ìŠµ-BaseOnly

## 1. ì¶”ì²œ ì‹œìŠ¤í…œì´ë€?
- ì‚¬ìš©ìê°€ ì¢‹ì•„í•  ê°€ëŠ¥ì„±ì´ ë†’ì€ ì•„ì´í…œì„ ì˜ˆì¸¡í•˜ëŠ” ëª¨ë¸
    - ë„·í”Œ ì˜í™” ì¶”ì²œ
    - ìœ íˆ¬ë¸Œ ì˜ìƒ ì¶”ì²œ
    - ì¿ íŒ¡ ìƒí’ˆ ì¶”ì²œ

## 2. ì¤€ë¹„ì‘ì—…
### 1. ë°ì´í„°ì…‹ ê°€ì ¸ì˜¤ê¸°
#### 1. ë¶„ì„ëŒ€ìƒ-í‰ì ë°ì´í„°

In [1]:
from hossam import *
from pandas import DataFrame, merge

from surprise import Dataset, Reader, BaselineOnly, accuracy
from surprise.model_selection import train_test_split, GridSearchCV

ğŸ“¦ ì•„ì´í‹°ìœŒ ì´ê´‘í˜¸ ê°•ì‚¬ê°€ ì œì‘í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ì‚¬ìš©ì¤‘ì…ë‹ˆë‹¤.
ğŸ“š ìì„¸í•œ ì‚¬ìš© ë°©ë²•ì€ https://py.hossam.kr ì„ ì°¸ê³ í•˜ì„¸ìš”.
ğŸ“§ Email: leekh4232@gmail.com
ğŸ¬ Youtube: https://www.youtube.com/@hossam-codingclub
ğŸ“ Blog: https://blog.hossam.kr/
ğŸ”– Version: 0.5.3

âœ… ì‹œê°í™”ë¥¼ ìœ„í•œ í•œê¸€ ê¸€ê¼´(NotoSansKR-Regular)ì´ ìë™ ì ìš©ë˜ì—ˆìŠµë‹ˆë‹¤.

In [2]:
origin = load_data('ml100k-ratings')
print(f"ë°ì´í„°ì…‹ í¬ê¸°: {origin.shape}")
print(f"ì—´ ê°œìˆ˜: {origin.shape[1]}")
print(f"í–‰ ê°œìˆ˜: {origin.shape[0]}")
print(origin.info())
origin.head()

943ëª…ì˜ ì‚¬ìš©ìê°€ 1,682í¸ì˜ ì˜í™”ì— ëŒ€í•´ ë‚¨ê¸´ 100,000ê°œì˜ í‰ì  ê¸°ë¡ìœ¼ë¡œ êµ¬ì„±ëœ ëª…ì‹œì  í‰ê°€ ê¸°ë°˜ ì¶”ì²œ ì‹œìŠ¤í…œ í•™ìŠµìš© ë°ì´í„°ì…‹ (ì¶œì²˜: University of Minnesota)

ì»¬ëŸ¼ëª…     ì˜ë¯¸
---------  ---------
user_id    ì‚¬ìš©ì ID
item_id    ì•„ì´í…œ ID
rating     í‰ì
timestamp  í‰ê°€ ì‹œê°

ë°ì´í„°ì…‹ í¬ê¸°: (100000, 4)
ì—´ ê°œìˆ˜: 4
í–‰ ê°œìˆ˜: 100000
<class 'pandas.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    100000 non-null  int64
 1   item_id    100000 non-null  int64
 2   rating     100000 non-null  int64
 3   timestamp  100000 non-null  int64
dtypes: int64(4)
memory usage: 3.1 MB
None

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

#### 2. ë¶„ì„ê²°ê³¼ ë§µí•‘ ë°ì´í„° - ì˜í™” ì •ë³´

In [3]:
metadata = load_data('ml100k-metadata')
metadata.head()

ml100k-ratingsì— í¬í•¨ëœ ì˜í™” ì œëª©, ê³µê°œì‹œê¸°, ì¥ë¥´ ì •ë³´ë¥¼ ë‹´ê³  ìˆëŠ” ë°ì´í„° (ì¶œì²˜: University of Minnesota)

,item_id,title,release_date,IMDb_URL,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Toy%20Story%20(1995),0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?GoldenEye%20(1995),0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Four%20Rooms%20(1995),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Get%20Shorty%20(1995),0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0

## 3. BaselineOnly ëª¨ë¸ ì í•©
### 1. DataFrameì„ Dataset ê°ì²´ë¡œ ì „í™˜
#### 1. í‰ì ì˜ ë²”ìœ„ í™•ì¸

In [4]:
rating_min = origin['rating'].min()
rating_max = origin['rating'].max()
print(f'Rating ë²”ìœ„: {rating_min} ~ {rating_max}')

Rating ë²”ìœ„: 1 ~ 5

#### 2. surprise ë¼ì´ë¸ŒëŸ¬ë¦¬ì—ì„œ ì‚¬ìš©í•  ìˆ˜ ìˆë„ë¡ ë°ì´í„°ì…‹ì„ ë³€í™˜

In [5]:
# í‰ì ì˜ ë²”ìœ„ë¥¼ ì§€ì •í•˜ì—¬ Reader ê°ì²´ ìƒì„±
reader = Reader(rating_scale=(rating_min, rating_max))

# Dataset ê°ì²´ë¥¼ ìƒì„± - ì‚¬ìš©ì ì‹ë³„ì, ì•„ì´í…œ ì‹ë³„ì, í‰ì ë§Œìœ¼ë¡œ êµ¬ì„±ëœ ë°ì´í„° êµ¬ì¡°ê°€ í•„ìš”í•˜ë‹¤.
data = Dataset.load_from_df(origin[['user_id', 'item_id', 'rating']], reader)

data

### 2. BaselineOnly ëª¨ë¸ì˜ ì£¼ìš” í•˜ì´í¼ íŒŒë¼ë¯¸í„°

In [6]:
param_grid = {
    'bsl_options': {
    'method': ['als', 'sgd'],
    'reg': [1, 5, 10, 15, 20],
    'learning_rate': [0.002, 0.005, 0.01],    # sgdì¼ ë•Œë§Œ ì‘ìš©
    'n_epochs': [10, 20, 30]
    }
}

# GridSearchCV ê°ì²´ë¥¼ ìƒì„±í•˜ì—¬ í•˜ì´í¼íŒŒë¼ë¯¸í„° íŠœë‹ì„ ìˆ˜í–‰
gs = GridSearchCV(
    BaselineOnly,
    param_grid,
    measures = ['rmse', 'mae'],
    cv = 5,
    n_jobs = -1
)

# GridSearchCVë¥¼ ì‚¬ìš©í•˜ì—¬ ìµœì ì˜ í•˜ì´í¼íŒŒë¼ë¯¸í„° ì¡°í•©ì„ ì°¾ëŠ”ë‹¤,
# -> ì›ë³¸ ë°ì´í„° ì‚¬ìš©
gs.fit(data)

# ìµœì ì˜ RMSEì™€ MAE ì ìˆ˜ ë° í•´ë‹¹ í•˜ì´í¼íŒŒë¼ë¯¸í„° ì¡°í•©ì„ ì¶œë ¥
print('Best RMSE:', gs.best_score['rmse'])
print('Best Params (RMSE):', gs.best_params['rmse'])

print('Best MAE:', gs.best_score['mae'])
print('Best Params (MAE):', gs.best_params['mae'])

Best RMSE: 0.9442324384970405
Best Params (RMSE): {'bsl_options': {'method': 'als', 'reg': 1, 'learning_rate': 0.002, 'n_epochs': 30}}
Best MAE: 0.7483242786823052
Best Params (MAE): {'bsl_options': {'method': 'als', 'reg': 1, 'learning_rate': 0.002, 'n_epochs': 30}}

## 4. ì„±ëŠ¥í‰ê°€
### 1. í›ˆë ¨, ê²€ì¦ ë°ì´í„° ë¶„ë¦¬

In [7]:
# ë°ì´í„°ë¥¼ í•™ìŠµìš©ê³¼ í…ŒìŠ¤íŠ¸ìš©ìœ¼ë¡œ ë¶„í•  (80% í•™ìŠµ, 20% í…ŒìŠ¤íŠ¸)
train_data, test_data = train_test_split(data, test_size = 0.2, random_state = 52)

# í•™ìŠµìš©ê³¼ í…ŒìŠ¤íŠ¸ìš© ë°ì´í„°ì˜ í¬ê¸°ë¥¼ ì¶œë ¥
print(f'Trainset í¬ê¸°:{train_data.n_ratings}ê°œ')
print(f'Testset í¬ê¸°:{len(test_data)}ê°œ')

Trainset í¬ê¸°:80000ê°œ
Testset í¬ê¸°:20000ê°œ

### 2. ìµœì  ëª¨ë¸ ì¬í•™ìŠµ

In [8]:
# ìµœì  íŒŒë¼ë¯¸í„° ì¶”ì¶œ
best_params = gs.best_params['rmse']

# ëª¨ë¸ ìƒì„±
best_model = BaselineOnly(**best_params)

# ì „ì²´ ë°ì´í„° í•™ìŠµ
best_model.fit(train_data)

Estimating biases using als...

### 3. ì˜ˆì¸¡ê°’ ìƒì„±

In [9]:
predictions = best_model.test(test_data)
predictions[:5]

[Prediction(uid=303, iid=679, r_ui=2.0, est=3.1393275100473677, details={'was_impossible': False}),
 Prediction(uid=308, iid=163, r_ui=4.0, est=3.6883481119038146, details={'was_impossible': False}),
 Prediction(uid=327, iid=663, r_ui=4.0, est=3.5897839643819855, details={'was_impossible': False}),
 Prediction(uid=912, iid=479, r_ui=4.0, est=4.106633675573525, details={'was_impossible': False}),
 Prediction(uid=224, iid=329, r_ui=3.0, est=2.8119332194991884, details={'was_impossible': False})]

### 4. ì„±ëŠ¥í‰ê°€ ì§€í‘œ ìƒì„±

In [10]:
# Train ì˜ˆì¸¡ (trainset ì „ì²´ë¥¼ test í˜•ì‹ìœ¼ë¡œ ë³€í™˜)
train_predictions = best_model.test(train_data.build_testset())

# Test ì˜ˆì¸¡
test_predictions = best_model.test(test_data)

# ì„±ëŠ¥ ê³„ì‹¼
train_rmse = accuracy.rmse(train_predictions, verbose = False)
train_mae = accuracy.mae(train_predictions, verbose = False)

test_rmse = accuracy.rmse(test_predictions, verbose = False)
test_mae = accuracy.rmse(test_predictions, verbose = False)

# ì¼ë°˜í™” ì˜¤ì°¨ ì°¨ì´
rmse_gap = test_rmse - train_rmse
mae_gap = test_mae - train_mae

# ê³¼ì í•© íŒì • ê¸°ì¤€ (RMSE ê¸°ì¤€)
# ê¸°ì¤€: test RMSEê°€ train RMSEë³´ë‹¤ 0.05 ì´ìƒ í¬ë©´ ê³¼ì í•© ì˜ì‹¬
if rmse_gap > 0.05:
    overfit_flag = 'ê³¼ì í•© ì˜ì‹¬'
else:
    overfit_flag = 'ì •ìƒ'

# ì„±ëŠ¥í‰ê°€í‘œ ìƒì„±
result_df = DataFrame({
    'Model': ['BaselineOnly'],
    'Train_RMSE': [train_rmse],
    'Test_RMSE': [test_rmse],
    'RMSE_Gap': [rmse_gap],
    'Train_MAE': [train_mae],
    'Test_MAE': [test_mae],
    'MAE_Gap': [mae_gap],
    'Overfitting': [overfit_flag]
})

result_df

,Model,Train_RMSE,Test_RMSE,RMSE_Gap,Train_MAE,Test_MAE,MAE_Gap,Overfitting
0,BaselineOnly,0.922,0.947,0.026,0.731,0.947,0.216,ì •ìƒ

## 5. TopN ì¶”ì²œ
### 1. ì•„ì§ í‰ê°€í•˜ì§€ ì•Šì€ ì•„ì´í…œì— ëŒ€í•œ ì˜ˆì¸¡ ìˆ˜í–‰
#### 1. ì˜ˆì¸¡ê²°ê³¼ ìƒì„±

In [11]:
anti_testset = train_data.build_anti_testset()
predictions = best_model.test(anti_testset)
predictions[:5] # ì˜ˆì¸¡ ê²°ê³¼ì˜ ì¼ë¶€ ì¶œë ¥

[Prediction(uid=234, iid=205, r_ui=3.5317375, est=3.4962269245104007, details={'was_impossible': False}),
 Prediction(uid=234, iid=504, r_ui=3.5317375, est=3.311088596094799, details={'was_impossible': False}),
 Prediction(uid=234, iid=73, r_ui=3.5317375, est=2.9809970216823714, details={'was_impossible': False}),
 Prediction(uid=234, iid=475, r_ui=3.5317375, est=3.3435994193805505, details={'was_impossible': False}),
 Prediction(uid=234, iid=294, r_ui=3.5317375, est=2.6108510945188326, details={'was_impossible': False})]

#### 2. ì˜ˆì¸¡ê²°ê³¼ ë°ì´í„°í”„ë ˆì„ êµ¬ì„±

In [12]:
pred_df = DataFrame(predictions,
                    columns = ['user_id', 'item_id', 'true_rating', 'pred_rating', 'details'])

pred_df.head()

   user_id  item_id  true_rating  pred_rating                    details
0      234      205        3.532        3.496  {'was_impossible': False}
1      234      504        3.532        3.311  {'was_impossible': False}
2      234       73        3.532        2.981  {'was_impossible': False}
3      234      475        3.532        3.344  {'was_impossible': False}
4      234      294        3.532        2.611  {'was_impossible': False}

### 2. íŠ¹ì • ì‚¬ìš©ìì— ëŒ€í•œ ìƒìœ„ 10ê°œì˜ ì¶”ì²œ ì˜í™” ê²€ìƒ‰
#### 1. 44ë²ˆ ì‚¬ìš©ìì— ëŒ€í•œ Top 10 ì¶”ì²œ ë°ì´í„°

In [14]:
N = 10
user_id = 44

topn_df = pred_df[pred_df['user_id'] == user_id]

topn_df = (
    topn_df[['user_id', 'item_id', 'pred_rating']]
    .sort_values(['pred_rating'], ascending = [False])
    .groupby('user_id')
    .head(N)
    .reset_index(drop = True)
)

topn_df

   user_id  item_id  pred_rating
0       44      408        4.423
1       44      169        4.385
2       44      483        4.371
3       44       12        4.339
4       44      357        4.268
5       44      114        4.254
6       44      134        4.244
7       44      178        4.238
8       44      657        4.223
9       44      174        4.216

#### 2. ë©”íƒ€ë°ì´í„°ì™€ ë³‘í•©í•˜ì—¬ ì˜í™” ì •ë³´ ìƒì„±

In [16]:
movie_df = topn_df.merge(metadata, on = 'item_id', how = 'left')
movie_df

,user_id,item_id,pred_rating,title,release_date,IMDb_URL,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,44,408,4.423,"Close Shave, A (1995)",28-Apr-1996,"http://us.imdb.com/M/title-exact?Close%20Shave,%20A%20(1995)",0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
1,44,169,4.385,"Wrong Trousers, The (1993)",01-Jan-1993,"http://us.imdb.com/M/title-exact?Wrong%20Trousers,%20The%20(1993)",0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,44,483,4.371,Casablanca (1942),01-Jan-1942,http://us.imdb.com/M/title-exact?Casablanca%20(1942),0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0
3,44,12,4.339,"Usual Suspects, The (1995)",14-Aug-1995,"http://us.imdb.com/M/title-exact?Usual%20Suspects,%20The%20(1995)",0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0
4,44,357,4.268,One Flew Over the Cuckoo's Nest (1975),01-Jan-1975,http://us.imdb.com/M/title-exact?One%20Flew%20Over%20the%20Cuckoo's%20Nest%20(1975),0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
5,44,114,4.254,Wallace & Gromit: The Best of Aardman Animation (1996),05-Apr-1996,http://us.imdb.com/Title?Wallace+%26+Gromit%3A+The+Best+of+Aardman+Animation+(1996),0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,44,134,4.244,Citizen Kane (1941),01-Jan-1941,http://us.imdb.com/M/title-exact?Citizen%20Kane%20(1941),0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
7,44,178,4.238,12 Angry Men (1957),01-Jan-1957,http://us.imdb.com/M/title-exact?12%20Angry%20Men%20(1957),0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
8,44,657,4.223,"Manchurian Candidate, The (1962)",01-Jan-1962,"http://us.imdb.com/M/title-exact?Manchurian%20Candidate,%20The%20(1962)",0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0
9,44,174,4.216,Raiders of the Lost Ark (1981),01-Jan-1981,http://us.imdb.com/M/title-exact?Raiders%20of%20the%20Lost%20Ark%20(1981),0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0