# ì§€ë„í•™ìŠµ- ê±°ë¦¬ê¸°ë°˜(KNN)

In [1]:
from hossam import *

from pandas import DataFrame
from matplotlib import pyplot as plt
import seaborn as sb
import numpy as np

from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV, learning_curve

# ì„±ëŠ¥ í‰ê°€ ì§€í‘œ ëª¨ë“ˆ
from sklearn.metrics import(
    r2_score,
    mean_absolute_error,
    mean_squared_error,
    mean_absolute_percentage_error
)

# í™•ë¥ ì  ê²½ì‚¬ í•˜ê°•ë²•
from sklearn.neighbors import KNeighborsRegressor
from sklearn.inspection import permutation_importance

c:\Users\wodyd\AppData\Local\Programs\Python\Python313\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

ğŸ“¦ ì•„ì´í‹°ìœŒ ì´ê´‘í˜¸ ê°•ì‚¬ê°€ ì œì‘í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ì‚¬ìš©ì¤‘ì…ë‹ˆë‹¤.
ğŸ“š ìì„¸í•œ ì‚¬ìš© ë°©ë²•ì€ https://py.hossam.kr ì„ ì°¸ê³ í•˜ì„¸ìš”.
ğŸ“§ Email: leekh4232@gmail.com
ğŸ¬ Youtube: https://www.youtube.com/@hossam-codingclub
ğŸ“ Blog: https://blog.hossam.kr/
ğŸ”– Version: 0.4.18

âœ… ì‹œê°í™”ë¥¼ ìœ„í•œ í•œê¸€ ê¸€ê¼´(NotoSansKR-Regular)ì´ ìë™ ì ìš©ë˜ì—ˆìŠµë‹ˆë‹¤.

In [3]:
origin = load_data('restaurant_sales_preprocessed')
origin.set_index('date', inplace = True)
origin['holiday'] = origin['holiday'].astype('category')
origin['weekend'] = origin['weekend'].astype('category')
print(f"ë°ì´í„°ì…‹ í¬ê¸°: {origin.shape}")
print(f"ì—´ ê°œìˆ˜: {origin.shape[1]}")
print(f"í–‰ ê°œìˆ˜: {origin.shape[0]}")
print(origin.info())
origin.head()

ì–´ëŠ ì‹ë‹¹ì˜ 1ë…„ê°„ ì¼ë³„ ë§¤ì¶œì„ ê¸°ë¡í•œ ë°ì´í„°ì˜ ì „ì²˜ë¦¬ ì™„ë£Œ ë²„ì „(ëª…ëª©í˜•ì´ ì´ì§„ë³€ìˆ˜ë§Œ ìˆìœ¼ë¯€ë¡œ ë”ë¯¸ë³€ìˆ˜ëŠ” ì²˜ë¦¬í•˜ì§€ ì•ŠìŒ)
ë°ì´í„°ì…‹ í¬ê¸°: (353, 9)
ì—´ ê°œìˆ˜: 9
í–‰ ê°œìˆ˜: 353
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 353 entries, 2024-01-01 to 2024-12-30
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sales           353 non-null    float64
 1   visitors        353 non-null    int64
 2   avg_price       353 non-null    int64
 3   marketing_cost  353 non-null    float64
 4   delivery_ratio  353 non-null    float64
 5   rain_mm         353 non-null    float64
 6   temperature     353 non-null    float64
 7   holiday         353 non-null    category
 8   weekend         353 non-null    category
dtypes: category(2), float64(5), int64(2)
memory usage: 23.0 KB
None

,sales,visitors,avg_price,marketing_cost,delivery_ratio,rain_mm,temperature,holiday,weekend
date,,,,,,,,,
2024-01-01,16.169336,122,14490,9.200391,0.48,1.945910,5.2,0,0
2024-01-02,16.005083,106,11880,9.148571,0.48,2.079442,11.1,0,0
2024-01-03,16.353561,120,18010,8.665786,0.43,2.595255,12.9,1,0
2024-01-04,16.082478,115,11160,8.748464,0.41,2.028148,12.9,0,0
2024-01-05,16.113222,124,15480,8.594339,0.51,2.197225,11.0,0,0

## 1. í›ˆë ¨, ê²€ì¦ ë°ì´í„° ë¶„ë¦¬

In [5]:
df = origin

yname = 'sales'
x = df.drop(columns = [yname])
y = df[yname]

x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size = 0.25, random_state = 52
)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((264, 8), (89, 8), (264,), (89,))

## 2. ëª¨í˜• ì í•©

In [6]:
%%time

# íŒŒì´í”„ë¼ì¸ ì •ì˜
pipe = Pipeline(
    [('scaler', StandardScaler()), ('model', KNeighborsRegressor())]
)

# íƒìƒ‰í•  í•˜ì´í¼íŒŒë¼ë¯¸í„° ê·¸ë¦¬ë“œ ì„¤ì •
param_grid = {
    # í•µì‹¬ íŒŒë¼ë¯¸í„°
    'model__n_neighbors': [3, 5, 7, 9, 15, 25],
    'model__weights': ['uniform', 'distance'],
    # ê±°ë¦¬ ì •ì˜
    'model__metric': ['euclidean','manhattan','minkowski'],
    'model__p': [
        1,
        2
    ], # p=1: Manhattan, p=2: Eculidean -> metric ='minkowski'ì¼ ë•Œë§Œ p ì˜ë¯¸ ìˆìŒ    
    # íƒìƒ‰ ì•Œê³ ë¦¬ì¦˜ / ì„±ëŠ¥
    'model__algorithm': ['auto', 'ball_tree','kd_tree'],
    'model__leaf_size': [20, 30, 40]
}

# ê·¸ë¦¬ë“œ ì„œì¹˜ ê°ì²´ ìƒì„±
gs = GridSearchCV(estimator = pipe, param_grid = param_grid, cv = 5, scoring = 'r2', n_jobs = -1)

gs.fit(x_train, y_train)

# ìµœì  ëª¨ë¸
best_model = gs.best_estimator_

# ê²°ê³¼ í™•ì¸
print('Best params:', gs.best_params_)
print('CV best score:', gs.best_score_)

Best params: {'model__algorithm': 'auto', 'model__leaf_size': 20, 'model__metric': 'euclidean', 'model__n_neighbors': 15, 'model__p': 1, 'model__weights': 'distance'}
CV best score: 0.6444866391028172
CPU times: total: 2.5 s
Wall time: 17.4 s

## 3. ì„±ëŠ¥í‰ê°€ ì§€í‘œ

In [9]:
y_pred = best_model.predict(x_test)

result_df = DataFrame(
    {
        'ê²°ì •ê³„ìˆ˜(R2)': r2_score(y_test, y_pred),
        'í‰ê· ì ˆëŒ€ì˜¤ì°¨(MAE)': mean_absolute_error(y_test, y_pred),
        'í‰ê· ì œê³±ì˜¤ì°¨(MSE)': mean_squared_error(y_test, y_pred),
        'í‰ê· ì˜¤ì°¨(RMSE)': np.sqrt(mean_squared_error(y_test, y_pred)),
        'í‰ê·  ì ˆëŒ€ ë°±ë¶„ì˜¤ì°¨ ë¹„ìœ¨(MAPE)': mean_absolute_percentage_error(y_test, y_pred),
        'í‰ê·  ë¹„ìœ¨ ì˜¤ì°¨(MPE)': np.mean((y_test - y_pred) / y_test * 100)
    },
    index = ['ì„±ëŠ¥ì§€í‘œ']
)

display(result_df)

,ê²°ì •ê³„ìˆ˜(R2),í‰ê· ì ˆëŒ€ì˜¤ì°¨(MAE),í‰ê· ì œê³±ì˜¤ì°¨(MSE),í‰ê· ì˜¤ì°¨(RMSE),í‰ê· ì ˆëŒ€ ë°±ë¶„ì˜¤ì°¨ ë¹„ìœ¨(MAPE),í‰ê· ë¹„ìœ¨ ì˜¤ì°¨(MPE)
ì„±ëŠ¥ì§€í‘œ,0.634869,0.178029,0.052234,0.228547,0.010843,0.301152

## 4. ê³¼ì í•© í™•ì¸ í•¨ìˆ˜

In [ ]:
hs_stats

SyntaxError: invalid syntax (2977448628.py, line 1)