# Pandas
## Series 자료형

In [1]:
import numpy as np
from pandas import Series

### Series 객체 생성

In [ ]:
# list, ndarray를 통해 생성 가능

# 리스트를 통한 Series 객체 생성
my_list = [10, 30]
s1 = Series(my_list)
print(s1)
print('-' * 50)

# ndarray를 통한 Series 객체 생성
my_array = np.array([100,200])
s2 = Series(my_array)
print(s2)
print('-' * 50)

# 딕셔너리를 통한 Series 객체 생성
my_dict = {'hello': 123, 'world': 456, 'nice': 789}
s3 = Series(my_dict)
print(s3)

0    10
1    30
dtype: int64
--------------------------------------------------
0    100
1    200
dtype: int64
--------------------------------------------------
hello    123
world    456
nice     789
dtype: int64

### Series의 정보 확인

In [17]:
# 데이터 타입 확인
my_series = Series({'hello': 123, 'world': 456, 'nice': 789})
print('my_series.dtype')

print('-' * 50)
# 종합 정보 확인
my_series.info()

my_series.dtype
--------------------------------------------------
<class 'pandas.core.series.Series'>
Index: 3 entries, hello to nice
Series name: None
Non-Null Count  Dtype
--------------  -----
3 non-null      int64
dtypes: int64(1)
memory usage: 48.0+ bytes

### Series 객체의 인덱싱과 슬라이싱 - 1

In [ ]:
# list나 ndarray를 통해 생성한 경우
# 일반적인 연속성 자료형의 경우와 동일 --> -1번째까지 지정

my_series = Series([10,20,30,40,50])
print('==인덱싱==')
print(my_series[0])
print('==슬라이싱==')
print(my_series[1:3])

==인덱싱==
10
==슬라이싱==
1    20
2    30
dtype: int64

### Series 객체의 인덱싱과 슬라이싱 - 2

In [ ]:
# 딕셔너리를 통해 생성한 경우
# 인덱스가 문자열로 존재한다
# 범위를 문자로 지정한 경우 --> SQL범위 처럼 b~d까지 지정
my_series = Series({'a': 100, 'b': 200, 'c': 300, 'd': 400})
print('==인덱싱==')
print(my_series['a'])
print('==슬라이싱==')
print(my_series['b':'d'])

==인덱싱==
100
==슬라이싱==
b    200
c    300
d    400
dtype: int64

### Series 값만 추출하기

In [22]:
# values 프로퍼티를 사용하여 값만 추출 가능
# ndarray 형식으로 값이 존재(추출)
my_series = Series({'a': 100, 'b': 200, 'c': 300, 'd': 400})

print(type(my_series.values))
print(my_series.values)

mylist = list(my_series.values)
print(mylist)

<class 'numpy.ndarray'>
[100 200 300 400]
[np.int64(100), np.int64(200), np.int64(300), np.int64(400)]

### Series의 인덱스만 추출하기

In [24]:
# index 프로퍼티를 사용하여 값만 추출 가능
# ndarray 형식으로 값이 존재(추출한다)

my_series = Series({'a': 100, 'b': 200, 'c': 300, 'd': 400})

print(type(my_series.index))
print(my_series.values)

# list 자료형으로 변경

mylist = list(my_series.index)
print(mylist)

<class 'pandas.core.indexes.base.Index'>
[100 200 300 400]
['a', 'b', 'c', 'd']