# Series 객체의 기능
### Series 객체의 연산 - 1

In [4]:
# 실험을 위한 객체 만들기

import numpy as np
from pandas import Series

my1 = Series([10,20,30], index = ['hello','world','nice'])
print(my1)

print('-' * 50)
my2 = Series({'worlds':1, 'test':2, 'hello':3})
print(my2)

hello    10
world    20
nice     30
dtype: int64
--------------------------------------------------
worlds    1
test      2
hello     3
dtype: int64

### Series 객체의 연산 - 2

In [22]:
# 인덱스가 같은 항목끼리 연산을 수행
# 연산 대상이 없을 경우 NaN(Not a Number)가 된다

merge = my1 + my2
merge

hello     13.0
nice       NaN
test       NaN
world      NaN
worlds     NaN
dtype: float64

### Series 객체의 연산 - 3

In [23]:
# 모든 원소에 대해 연산을 수행한다. (Numpy와 동일)
addon = my1 + 1000
addon

hello    1010
world    1020
nice     1030
dtype: int64

### 기초 통계량

In [28]:
# ndarray의 기능을 그대로 지원
column = Series([188, 92, 45, 63, 79])

print('합계:', column.sum())
print('평균:', column.mean)#average()
print('최대:', column.max())
print('최소:', column.min())
print('분산:', column.var())
print('표준편차:', column.std())
print('중앙값:', column.median())
print('1사분위 수:', column.quantile(0.25))
print('2사분위 수:', column.quantile(0.5))
print('3사분위 수:', column.quantile(0.75))

합계: 467
평균: <bound method Series.mean of 0    188
1     92
2     45
3     63
4     79
dtype: int64>
최대: 188
최소: 45
분산: 3106.2999999999993
표준편차: 55.73419058351883
중앙값: 79.0
1사분위 수: 63.0
2사분위 수: 79.0
3사분위 수: 92.0

### 조건 검색 - 1

In [30]:
# 샘플 데이터 정의
# 0 부터 100전까지 10씩 증가하는 값을 원소로 갖는 객체 생성

column = Series(np.arange(0,100,10))
column

0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
dtype: int64

### 조건 검색 - 2

In [31]:
# Numpy와 동일한 표현식 사용

in1 = column[column > 30]
in1

4    40
5    50
6    60
7    70
8    80
9    90
dtype: int64

### 조건 검색 - 3

In [32]:
# AND
# 대괄호를 이중으로 표기한다

in2 = column[column <= 70][column > 10]
in2

2    20
3    30
4    40
5    50
6    60
7    70
dtype: int64

### 조건 검색 - 4

In [33]:
# OR 
# 하나의 대괄호 안에 파이프라인(|)로 구성

in3 = column[(column <= 10) | (column >= 70)]
in3

0     0
1    10
7    70
8    80
9    90
dtype: int64

### 타입 변환 - 1

In [34]:
# 객체 생성
origin = Series(np.arange(0, 100, 10))
origin.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10 entries, 0 to 9
Series name: None
Non-Null Count  Dtype
--------------  -----
10 non-null     int64
dtypes: int64(1)
memory usage: 212.0 bytes

### 타입 변환 - 2

In [35]:
# 실수 타입으로 변환
x = origin.astype('float')
x

0     0.0
1    10.0
2    20.0
3    30.0
4    40.0
5    50.0
6    60.0
7    70.0
8    80.0
9    90.0
dtype: float64

### 타입 변환 -3

In [36]:
# 문자열 타입으로 변환
y = origin.astype('str')
y

0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
dtype: object

### 데이터 정렬 - 1

In [39]:
# 값 기반 정렬(오름차순)

my_dict = {'c': 456, 'a': 123, 'b': 789}
origin = Series(my_dict)

sort1 = origin.sort_values()
sort1

a    123
c    456
b    789
dtype: int64

### 데이터 정렬 - 2

In [40]:
# 값 기반 정렬(내림차순)

sort2 = origin.sort_values(ascending=False)
sort2

b    789
c    456
a    123
dtype: int64

### 데이터 정렬 - 3

In [41]:
# 인덱스 기반 정렬(오름차순)

sort3 = origin.sort_index()
sort3

a    123
b    789
c    456
dtype: int64

### 데이터 정렬 - 4

In [42]:
# 인덱스 기반 정렬(내림차순)

sort4 = origin.sort_index(ascending=False)
sort4

c    456
b    789
a    123
dtype: int64

### 연습문제

In [21]:
# 1번 문제

print('--- 전체 점수 ---')
scores = {'국어': 85, '영어': 92, '수학': 78, '과학': 95, '사회': 88}
Scores = Series(scores)
print(Scores)

print(' --- 수학 점수 ---')
# 2번 문제
print('수학 점수:', Scores['수학'])

print('--- 90점 이상 과목 ---')
# 3번 문제
print([Scores[Scores >= 90]])

print('--- 평균 점수 ---')
# 4번 문제
a = Scores.mean()
print(a)

--- 전체 점수 ---
국어    85
영어    92
수학    78
과학    95
사회    88
dtype: int64
 --- 수학 점수 ---
수학 점수: 78
--- 90점 이상 과목 ---
[영어    92
과학    95
dtype: int64]
--- 평균 점수 ---
87.6